:root{
    --primary: #E1143C;
    --primary-rgb: rgb(225, 20, 60);
    --dark-primary: #A01735;
    --dark-primary-rgb: rgb(160, 23, 53);
    --gray: #1E282F;
    --dark: #04070A;
    --dark-rgb: rgb(4 7 10);
    --light: #F3FAFF;
    }